header {
  background-color: blue;
  height: 100px;
  padding-top: 20px;
  box-shadow: 5px 3px 8px #888888;
  color: white;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Saira', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Saira', sans-serif;
  font-weight: 300;
}

img {
  max-width: 200px;
  max-height: 200px;
  display: inline-block;
  margin-left: 100px;
  margin-top: 50px;
  padding-bottom: 50px;
	outline: solid 1px #D3D3D3;
}

footer {
  height: 200px;
  background-color: blue;
  margin-top: 150px;
}

ul li {
  list-style: none;
}
